/* style starts here */

body{
    background-color: rgb(83, 83, 186);
    margin:0;
}

header {
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header h1 {
    color: chartreuse;
}

.logo {
    margin-top: 5px;
    background-color: blue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items {
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.nav-items a{
    text-decoration: none;
    color: rgb(47, 0, 255);
    font-size: 1.5rem;

}
/* mobile doesnt hover */
.nav-items a:hover {
    color: #ff9900;
    background-color: #2b78e4;

}

footer{
    padding-top: 10px;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.social-media {
    display: flex;
    justify-content: space-between;
}
.social-media img{
    width: 75px;
    border-radius: 50%;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info p{
margin: 2px;
}

main{
    padding: 20px;
}

.training-option {
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: orange;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.training-option img{
    width: 300px;
}
.training-option h3{
    color: blueviolet;

}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .training-option {
        padding: 20px;
    }
    .training-option img {
        width: 400px;
        height: 400px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-media img{
        margin-right: 30px;
    }
    
    .contact-info {
        display: flex;
        align-items: flex-end;
    }

}
